/******************************************/
/* Media queries */
/******************************************/

@media all and (min-width: 2500px) {
  html { font-size: 125.5%; }
  footer { font-size: 125.5%; }
}

@media all and (min-width: 1400px) {
/*   html { font-size: 109.5%; } */
}

@media all and (min-width: 1400px) {
  html { font-size: 72.5%; }
  
  
}

@media all and (min-width: 1200px) {
  .btn-centered { opacity: 0; position: absolute; top: 40%; left: 50%; width: 12.0rem; height: 3.0rem; transform: translate(-50%,-95%); transition: opacity 0.4s; }
  
  .news-more-btn { top: 30%; }
  
  div[property="album"]:hover a.btn-centered { opacity: 1.0; }
  div[property="photoGallery"]:hover a.btn-centered { opacity: 1.0; }
  div[property="news"]:hover a.btn-centered { opacity: 1.0; }
}

@media all and (max-width: 1199px) {
/*   html { font-size: 62.5%; } */
  .btn-centered { opacity: 0; position: absolute; top: 35%; left: 50%; width: 12.0rem; height: 3.0rem; transform: translate(-50%,-95%); transition: opacity 0.4s; }
  
  div[property="album"]:hover a.btn-centered { opacity: 1.0; }
  div[property="photoGallery"]:hover a.btn-centered { opacity: 1.0; }
  div[property="news"]:hover a.btn-centered { opacity: 1.0; }
}

@media all and (max-width: 991px) {
  html { font-size: 66.5%; }
  /*  Homepage slider size  */
  .image { width: 99.1rem; height: 26.5rem; }
  
  /*  Concerts  */
  .td-concert-spacer { display: none; }
  #concert_cards { display: inline; }
  #concerts_table { display: none; }
  
  .btn-centered { opacity: 1.0; position: static; top: auto; left: auto; transform: none; margin-top: 1.0rem; margin-bottom: 1.0rem; }
  
  footer { font-size: 125% }
} 

@media all and (max-width: 768px) {
  html { font-size: 71.5%; }
  .footer-newsletter-container{ text-align: center; width: 50%; }
  footer { padding: 1.0rem 2.5rem; font-size: 150% }
  
  /*  Homepage slider size  */
  .image { width: 76.8rem; height: 19.5rem; }
  
  /*  Discography image size  */
  .discography-image { width: 20.0rem; height: 20.0rem; }
  .discography-more-btn { top: -11.0rem; left: 5.5rem; }
  
  /*  Instagram image size  */
  .instagram-images { max-height: 15.0rem; max-width: 15.0rem; }
} 

@media all and (max-width: 575px) {
  /*  Homepage slider size  */
  .image { width: 57.5rem; height: 12.5rem; }
  
/*   .social-el>a { font-size: 2.0rem; } */
  /*  Discography image size  */
/*   .discography-image { width: 15.0rem; height: 15.0rem; }
  .discography-more-btn { top: -8.0rem; left: 3.5rem; padding: 1.0rem 1.0rem; } */
  
  /*  News section  */
  .news-text { padding: 2.0rem 3.0rem; }
}

@media all and (max-width: 414px) {
  /*  Homepage slider size  */
  .image { width: 41.4rem; height: 9.5rem; }
  
  /*  Discography image size  */
/*   .discography-image { width: 12.0rem; height: 12.0rem; } */
}

/******************************************/
/* End media queries */
/******************************************/