<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;" />

    <meta property="og:url"           content="https://htmlsandbox-jonlaplante530707.codeanyapp.com/" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="Christina Johnston, Coloratura Soprano" />
    <meta property="og:description"   content="" />
    <meta property="og:image"         content="http://www.christinajohnston.co.uk/web/images/about_image_1340.jpg" />
    <meta name="twitter:card" content="">
    <meta name="twitter:site" content="@jonlaplante">
    <meta name="twitter:title" content="Christina Johnston, Coloratura Soprano">
    <meta name="twitter:description" content="">
    <meta name="twitter:image" content="http://www.christinajohnston.co.uk/web/images/about_image_1340.jpg">
    <title>Christina Johnston - Coloratura Soprano</title>
    <link rel="stylesheet" href=/christinajohnstonweb.github.io/web/stylesheets/bootstrap.4.0.css />
<!--     <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous"> -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<!--     <link rel="stylesheet" href="assets/stylesheets/Supernice.min.css" /> -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,700,700i,900,900i" rel="stylesheet">
    <link rel="stylesheet" href=/christinajohnstonweb.github.io/web/stylesheets/mavo.css />
<!--     <link rel="stylesheet" href="https://get.mavo.io/mavo.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsSocials/1.5.0/jssocials.min.css" integrity="sha256-1tuEbDCHX3d1WHIyyRhG9D9zsoaQpu1tpd5lPqdqC8s=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsSocials/1.5.0/jssocials-theme-minima.min.css" integrity="sha256-gdf8VUxJSQWUDIxhmCgSIVi8uBCaImRGWzMfKYlrUVE=" crossorigin="anonymous" />
    <link rel="stylesheet" href=/christinajohnstonweb.github.io/web/stylesheets/styles.css />
    <link rel="stylesheet" href=/christinajohnstonweb.github.io/web/stylesheets/effects.css />
    <link rel="stylesheet" href=/christinajohnstonweb.github.io/web/stylesheets/ken-burns.css />
    <link rel="stylesheet" href=/christinajohnstonweb.github.io/web/stylesheets/mailchimp-signup-form.css />
    <link rel="stylesheet" href=/christinajohnstonweb.github.io/web/stylesheets/loading-spinner.css />
    <link rel="stylesheet" href=/christinajohnstonweb.github.io/web/stylesheets/media-queries.css />
    
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script>
      var Helpers = Helpers || {};
      
      Helpers.discography = {
        solo: {
          count: 1
        },
        featured: {
          count: 1
        }
      }
    </script>
  </head>
  <body>
    <div id="loading_overlay" style="">
      <div class="spinner"></div>
      <div style=" width: 100%; height: 100%; margin-top: 5.0rem; display: flex; justify-content: center;">CHRISTINAJOHNSTON.CO.UK</div>
    </div>
    <main mv-app="homepage" mv-storage="https://github.com/christinajohnstonweb/christinajohnstonweb.github.io/data" mv-plugins="tinymce" mv-bar="none">
      <div class="container-fluid" id="app_page"><!--   style="position: absolute; left: -9999px;"  -->
        <div class="row">
          <div class="pg-social-col">
            <div class="social-container">
              <div class="social-el"><a href="https://www.facebook.com/TheChristinaJohnston/" title="Facebook" target="_BLANK"><span class="fa fa-facebook"></span></a></div>
              <div class="social-el"><a href="#"><span class="fa fa-youtube"></span></a></div>
              <div class="social-el"><a href="https://www.instagram.com/TheChristinaJohnston/" title="Instagram" target="_BLANK"><span class="fa fa-instagram"></span></a></div>
              <div class="social-el"><a href="https://twitter.com/christinajvoice" title="Twitter" target="_BLANK"><span class="fa fa-twitter"></span></a></div>
            </div>
          </div>
          <div class="col main-content">

            <style>
  .dropdown-item { font-size: 1.35rem; }
</style>
<nav class="navbar navbar-expand-lg topbar">
  <a class="navbar-brand" href=/christinajohnstonweb.github.io/web/ style="color: #fff;">CHRISTINA JOHNSTON</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="fa fa-bars"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href=/christinajohnstonweb.github.io/web/about>ABOUT</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link" href="javascript:void(0);" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          DISCOGRAPHY
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href=/christinajohnstonweb.github.io/web/discography/solo>SOLO</a>
          <a class="dropdown-item" href=/christinajohnstonweb.github.io/web/discography/featured>FEATURED</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href=/christinajohnstonweb.github.io/web/concerts>CONCERTS</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link" href="javascript:void(0);" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          MEDIA
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href=/christinajohnstonweb.github.io/web/media/photos>PHOTOS</a>
          <a class="dropdown-item" href=/christinajohnstonweb.github.io/web/media/videos>VIDEOS</a>
        </div>
      </li>
      <li class="nav-item">
        <a href=/christinajohnstonweb.github.io/web/news class="nav-link">NEWS</a>
      </li>
      <li class="nav-item">
        <a href=/christinajohnstonweb.github.io/web/contact class="nav-link">CONTACT</a>
      </li>
      </li>
    </ul>
  </div>
</nav>

<section class="content-section" id="carousel">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators"></ol>
    <div class="carousel-inner"></div>
  </div>
</section>

<section class="content-section" id="about">
  <div class="row justify-content-center">
    <h1 class="section-header" property="aboutHeader">ABOUT</h1>
  </div>

  <div class="container-fluid">
    <div class="row" id="about_row">
      <div class="col-6 off-white-bg about-content">
        <div class="about-wrapper">
          <p property="aboutTruncatedContent" class="tinymce" style="margin-bottom: 5.0rem;"></p>
          <a href=/christinajohnstonweb.github.io/web/about style="margin: 5.0rem auto 0 auto; border-radius: 0;" class="btn-black">MORE</a>
        </div>
      </div>
      <div class="col-6 black-bg remove-padding"><img src=/christinajohnstonweb.github.io/web/images/about_image_1340.jpg alt="About Christina Johnston, Coloratura Soprano" class="img-fluid section-img" property="aboutImage" /></div>
    </div>
  </div>
</section>
<section class="content-section" id="discography">
  <div class="row justify-content-center">
    <h1 class="section-header" property="discographyHeader">DISCOGRAPHY</h1>
  </div>

  <section class="off-white-bg">
    <div class="row">
      <div class="col">
        <section class="discography-text" property="discographyText" style="width: 100%; text-align: center;" class="">
          <div><strong>Blessing NEW ALBUM</strong></div>
          <div>The State Opera, Prague as The Queen of the Night</div>
          <div>Mozart’s Die Zauberflöte and Adelein Strauss’s Die Fledermaus.</div>
        </section>
      </div>
    </div>
    <div class="d-flex flex-wrap flex-center-align" style="padding: 5.5rem;"><!--  style="padding: 0 9.5rem;" -->
      <div style="margin: 2.0rem;" mv-multiple property="album" mv-if="albumOnHomepage=true and hiddenAlbum=false">
        <img property="discCoverImg" alt="" class="d-flex discography-image"/>
        <a href=/christinajohnstonweb.github.io/web/discography/album data-album="[idify(discName)]" class="mx-auto d-flex btn-black btn-centered discography-more-btn">MORE</a>
        <section class="album-details">
<!--           <small class="album-release-date">[discReleaseDate]</small> -->
          <h2 class="album-name">[discName]</h2>
<!--           <small class="album-distributor">[discDistributor]</small> -->
        </section>
      </div>
    </div>
  </section>
</section>
<section id="media" class="reveal-fixed-bg media-container" style='background-image: url(/christinajohnstonweb.github.io/web/images/roses_parallax.jpg); margin-top: -2.0rem;'>
  <div class="reveal-container">
    <h1 class="media-header">MEDIA</h1>
    <a href=/christinajohnstonweb.github.io/web/media/photos class="btn-media">MORE</a>
  </div>
</section>
<section class="content-section" id="concerts">
  <div class="container-fluid">
    <div class="row justify-content-center">
<!--       <span class="pull-right mv-logged-in"><a href=/christinajohnstonweb.github.io/web/edit/concerts role="button" class="btn btn-default">Edit Concerts</a></span> -->
      <h1 class="section-header" property="concertsHeader">CONCERTS</h1>
    </div>
  </div>

  <section id="concerts_tables_section">
  <div class="container-fluid" id="concerts_table">
    <div class="row justify-content-center" style="font-weight: 900;" property="concertsTitle">Christina Johnston Concerts</div>
    <div class="row justify-content-center" property="concertsSubtitle" style="margin: -0.5rem 0 3.25rem 0;">Discover all information about Chrisitna’s concerts.</div>
    <div id="concert_tables_content"></div>
  </div>
  </section>

  <section id="concerts_cards_section">
  <div id="concert_cards">
    <div class="row justify-content-center"><strong property="concertsTitle">Christina Johnston Concerts</strong></div>
    <div class="row justify-content-center" style="margin: -0.5rem 0 3.25rem 0;" property="concertsSubtitle">Discover all information about Chrisitna’s concerts.</div>

    <div id="cards_concert_content" class="d-flex flex-wrap" style="display: flex; justify-content: center; align-items: center;"></div>
    </div>
    </section>
</section>

<script id="concerts_table_tmpl" type="text/template">
  <div class="row" style="margin: 0 0 1% 10%;">
      <table class="off-white-bg" style="border-collapse: collapse; width: 90%;">
        <tr>
          <td style="width: 14.5rem;"><img src=!!concert_img!! alt="" class="concert-thumbnail"></td>
          <td class="concert-venue-date">
            <p class="tbl-concert-date">!!concert_date!!</p>
            <p class="concert-details tbl-concert-name">!!concert_name!!</p>
            <p class="concert-details tbl-concert-venue">!!concert_venue!!</p>
            <p class="concert-details tbl-concert-location">!!concert_location!!</p>
          </td>
          <td class="td-concert-spacer"></td>
          <td class="buy-tickets-td" data-id="!!concert_key!!"><a href="!!concert_ticket_url!!" target="_BLANK" class="btn-media buy-tickets-btn">BUY TICKETS</a></td>
          <td class="concert-info-td"><a href=/christinajohnstonweb.github.io/web/concerts/event/ data-event="!!concert_event!!" class="concert-info-a concert-more-btn"><em style="white-space: nowrap;">Info ></em></a></td>
          <!-- td class="concert-info-td"><a href="!!concert_more_info!!" class="concert-info-a concert-more-btn"><em style="white-space: nowrap;">Info ></em></a></td -->
        </tr>
      </table>
    </div>
</script>

<script id="concerts_card_tmpl" type="text/template">
   <div class="card off-white-bg" style="width: 20rem; margin: 1.0rem; min-height: 34.0rem;">
      <img src=!!concert_img!! alt="" class="concert-thumbnail mx-auto">

      <div class="card-body">
        <h3 style="font-weight: bolder;" property="concertDatetime">!!concert_date!!</h3>
        <h4 class="card-title" property="concertName">!!concert_name!!</h4>
        <p class="card-text" property="concertVenue">!!concert_venue!!</p>
        <p class="card-text" property="concertLocation">!!concert_location!!</p>

        <a href="!!concert_ticket_url!!" data-id="!!concert_key!!" target="_BLANK" class="btn-media buy-tickets-btn">BUY TICKETS</a><a href=/christinajohnstonweb.github.io/web/concerts/event/ data-event="!!concert_event!!" target="_BLANK" class="btn btn-more-info concert-more-btn-card concert-more-btn">Info ></a>
      </div>
    </div>
</script>
<section class="content-section" id="news">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <h1 class="section-header">NEWS</h1>
    </div>

    <div class="row off-white-bg" id="news_row">
      <div class="col-6 news-text" style="color: #000000; overflow-y: auto;">
        <section class="news-item-section" property="news" mv-multiple mv-if="featuredNews=true">
          <div class="news-date" property="newsDate">Jun 23, 2017</div>
          <div class="news-title" property="newsTitle">CHRISTINA JOHNSTON, POPULAR BRITISH COLORATURA SOPRANO WITH A VOICE THAT SOARS ABOVE THE CLOUDS.</div>
          <div class="news-details tinymce" property="newsDetailsPreview">Her new album "Blessing" is released on 22nd September 17</div>
          <a href=/christinajohnstonweb.github.io/web/news/article data-article="[idify(newsTitle)]" class="news-more-btn news-more-details">More ></a>
        </section>

        <a href=/christinajohnstonweb.github.io/web/news class="btn-black" id="more_news_btn">MORE NEWS</a>
      </div>
      <div class="remove-padding col-6"><img src=/christinajohnstonweb.github.io/web/images/news_image_1340.jpg class="img-fluid section-img" alt="News about Christina Johnston - Coloratura Soprano" property="news_image" /></div>
    </div>
  </div>
</section>
<section class="content-section" id="instagram">
  <div class="row justify-content-center">
    <h1 class="section-header" property="instagram_header">INSTAGRAM</h1>
  </div>

  <div class="container">
    <div class="row">
      <div class="col mx-auto" id="instafeed" style="">
      </div>
    </div>
  </div>
</section>
<footer class="black-bg">
    <div class="row">
      <div class="col-7 footer-header-row">
        <div>ALL OPERA AND CLASSICAL MUSIC LIVE BOOKING ENQUIRIES:</div>



        <div class="row">
          <div class="col align-self-end">
            <div class="footer-col-title">[footerFirstColTitle]</div>
            [footerFirstColumn]
          </div>
          <div class="col footer-col-no-title align-self-end">
            <div class="footer-sub-col-title">[footerSecondColTitle]</div>
            [footerSecondColumn]
          </div>
          <div class="col footer-col-no-title align-self-end">
            <div class="footer-sub-col-title">[footerThirdColTitle]</div>
            [footerThirdColumn]
          </div>
        </div>


      </div>
      <div class="col-4 footer-newsletter-container">
        <div id="mailchimp_form_container" class="pull-right">
          <div id="mc_embed_signup">
            <form action="//christinajohnston.us12.list-manage.com/subscribe/post?u=6d6e543624b813a228d488deb&amp;id=89b757eded" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <div id="mc_embed_signup_scroll">
                <label for="mce-EMAIL">Be the first to know about concerts, tickets, and new releases:</label>
                <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_6d6e543624b813a228d488deb_89b757eded" tabindex="-1" value=""></div>
                <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
              </div>
            </form>
            </div>

            <!—- End mc_embed_signup -->

          <div id="social_btns_container" class="align-self-end">
            <div>
              <label for="">Follow:</label>
            </div>
            <a href="https://www.facebook.com/TheChristinaJohnston/" title="Facebook" target="_BLANK" class="social-link">
              <span class="fa fa-facebook-f social-icons"></span>
            </a>
            <a href="https://www.instagram.com/TheChristinaJohnston/" title="Instagram" target="_BLANK" class="social-link">
              <span class="fa fa-instagram social-icons"></span>
            </a>
            <a href="https://twitter.com/christinajvoice" title="Twitter" target="_BLANK" class="social-link">
              <span class="fa fa-twitter social-icons"></span>
            </a>
            <a href="mailto:management@christinajohnston.co.uk" title="Email" target="_BLANK" class="social-link">
              <span class="fa fa-envelope social-icons"></span>
            </a>
          </div>
        </div>
      </div>
    </div>
</footer>
        
            <section id="brand_tag" style="margin-top: 0.5rem;">
              ©2017 Christina Johnston / All Rights Reserved / <a href="http://likelike.cz/en/" style="color: #000;" target="_BLANK">designed by likelike</a>
            </section>
          </div>
        </div>
      </div>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/instafeed.js/1.4.1/instafeed.min.js"></script>
    <script src=/christinajohnstonweb.github.io/web/javascripts/mavo.es5.js></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsSocials/1.5.0/jssocials.min.js" integrity="sha256-QhF/xll4pV2gDRtAJ1lvi9YINqySpAP+0NIzIX5voZw=" crossorigin="anonymous"></script>
    <script src=/christinajohnstonweb.github.io/web/javascripts/media_queries.js></script>
    <script mv-expressions="none" src=/christinajohnstonweb.github.io/web/javascripts/main.js></script>
    <script src=/christinajohnstonweb.github.io/web/javascripts/events.js mv-expressions="none"></script>
    <script src=/christinajohnstonweb.github.io/web/javascripts/effects.js mv-expressions="none"></script>
<!--     <script src="https://cdnjs.cloudflare.com/ajax/libs/stellar.js/0.6.2/jquery.stellar.min.js" integrity="sha256-aQ6KGDKk7w8XQNZsQaQnbfeC//XPUIphSp/X/ZEwtV0=" crossorigin="anonymous"></script> -->
<!--     <script src="https://cdnjs.cloudflare.com/ajax/libs/iScroll/5.2.0/iscroll-lite.min.js" integrity="sha256-r7O8tr1/t9covpFqzA7GaWGiBcnO4g7HO4ZennHm3VY=" crossorigin="anonymous"></script> -->
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-103920848-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-103920848-1');
    </script>
  </body>
</html>